.beer-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.beer-list__beer {
	cursor: pointer;
	overflow: hidden;

	&:hover {
		> div {
			background-color: rgb(230, 230, 230) !important;
		}
	}
}

.beer-list__beer__name {
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	padding: 0.5em;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.beer-list__beer__ingredients {
	list-style: none;
	margin: 0;
	padding: 0;
}
